@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
}

#menu {
    box-shadow: 10px 10px 13px 5px rgba(0, 0, 0, 0.38);
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    height: 40rem;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20200322/pngtree-elegant-white-background-with-shiny-image_332367.jpg");
    background-size: cover;
    border-radius: 10px;
}

#left, #middle, #right {
    display: inline-block;
    width: 30%;
    height: 80%;
    margin-left: 2%;
    margin-top: 7%;
    position: relative;
}

#name_society {
    display: inline-block;
    width: 100%;
    position: absolute;
    border: 1px solid black;
    box-shadow: 10px 10px 13px -7px #000000;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    font-size: 2rem;
    color: gray;
}

h2 {
    font-size: 1.5rem;
    color: black;
}

h1 + p, h2 + p {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}

#name {
    display: inline-block;
    width: 100%;
    position: absolute;
    margin-top: 80%;
}

h2 + p {
    color: chocolate;
    font-weight: bold;
}

#adress {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
}

.info, #profil {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
}

p {
    font-size: 0.7rem;
}

i {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
}

img {
    width: 150px;
    margin-left: 60px;
    border: 5px solid black;
    box-shadow: 10px 10px 13px -7px #000000;
}

#profil {
    margin-top: 2rem;
    top: 0;
}



